<style type="text/css">

body {
    margin:0px;
    padding:0px;
    background-color:#000;
    font-size: 62.5%;
    line-height:150%;
    letter-spacing:0.2px;
    font-family:'Source Sans Pro', calibri, sans-serif;]
    color:#000;
  	overflow-y: scroll;
  	overflow-x: hidden;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;}

a {
    color:#6CDBE7;
    text-decoration:none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;}
    a:hover {
    color:#555;
    cursor:help;
    text-decoration:none;}    

b {
    font-weight:700 !important;}
i {
    font-style:italic !important;}

#s-m-t-tooltip {
    position:absolute;
    margin:15px 10px;
    padding:2px 6px;
    z-index:99999999999999;
    font-size:1.1em;
    color:#fff;
    font-family:'Source Sans Pro', sans-serif;
    background:#222;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;}

/* Floating Navigation Bar, Associated Styling, Scrolling Target Tags */
#navbar {
    display:block;
    position:fixed;
    line-height:20px;
    z-index:99999;
    padding:20px 100px;
    left:0px;
    right:0px;
    top:0px;
    background:#000;
    text-align:center;
    text-transform:uppercase;
    font-size:1.6em;}
    .no {
    position:relative;
    letter-spacing:0.5px;
    line-height:20px;
    display:inline-block;
    margin:0px 30px;
    color:#fff;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;}
    .no:hover {
    color:#fff;}
    .no:after {
    position:absolute;
    content:"";
    background:#fff;
    z-index:-1;
    top:-22px;
    height:2px;
    left:0px;
    width:100%;
    opacity:0;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;}
    .no:hover:after {
    opacity:1;
    top:-7px;}

.mini-menu {
    display:inline-block;
    line-height:20px;
    height:20px;
    padding:20px;
    margin:-20px;
    position:relative;}
	.break {
	display:block;
	margin:0 auto;
	height:1px;
	background:#000;}

.more-links {
	height:0px;
	position:absolute;
	left:50%;
	margin-left:-70px;
	width:140px;
	margin-top:20px;
    background:rgba(0,0,0,0.85);
	overflow:hidden;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;}
	.mini-menu:hover .more-links.alpha {
	height:163px;}
    .more-links.alpha:hover {
    overflow:visible;
    -webkit-transition-delay:0.4s;
    -moz-transition-delay:0.4s;
    -o-transition-delay:0.4s;
    transition-delay:0.4s;}
	.mini-menu:hover .more-links.bravo {
	height:162px;}
    .mini-menu:hover .more-links.charlie {
    height:123px;}
	.is-sticky .mini-menu .more-links {
	margin-top:20px;}
	.more-links a {
    color:#fff;
    cursor:help;
	display:block;
	padding:10px 0px;
	position:relative;
	font-size:0.8em;}
	.more-links a:hover {
	background:#000;}
	.how {
	cursor:default;}
	.how:hover .no:after {
    opacity:1;
    top:-12px;
    width:100%;}
	.is-sticky .how:hover .no:after {
    top:-7px;}

    /* Making the navbar into a side panel upon resizing and yes it is as big of a disaster as this section title suggests */
    @media only screen and (max-width: 1000px) {
        #navbar {
        padding:80px 30px 30px 30px;
        width:200px;
        right:auto;
        left:-260px;
        height:100%;
        bottom:0px;
        overflow:hidden;
        text-align:left;
        -webkit-transition: all 0.4s linear;
        -moz-transition: all 0.4s linear;
        -o-transition: all 0.4s linear;
        transition: all 0.4s linear;}
        #navbar.clicked {
        left:0px;}
        body.clicked {
        padding-left:260px;}
        .no, .mini-menu {
        padding:0px 0px 0px 0px;
        width:200px;
        margin:0px;
        display:block;
        height:auto;}
        .no {
        padding:20px 0px 0px 0px;}
        .no:after {
        display:none;}
        .no:hover {
        color:#aaa;}
        .no.how:hover {
        color:#fff;}
        .more-links {
        margin:0px;
        left:0%;
        width:auto;
        position:relative;}
        .more-links a {
        font-size:0.8em;
        text-transform:lowercase;
        display:inline-block;
        padding:0px 10px 0px 0px;}
        .more-links a:hover {
        color:#aaa;}
        .break, .yeet {
        display:none;}

        .more-links.alpha, .more-links.bravo, .more-links.charlie {
        height:auto !important;}

        .clicky {
        position:fixed;
        top:30px;
        left:30px;
        z-index:999999;
        width:40px;
        height:40px;
        line-height:40px;
        background:#000;
        border-radius:50%;
        color:#fff;
        text-align:center;
        font-size:3em;
        cursor:help;
        -webkit-transition: all 0.4s linear;
        -moz-transition: all 0.4s linear;
        -o-transition: all 0.4s linear;
        transition: all 0.4s linear;}
        .clicky:hover {
        background:transparent;}
    }
@media only screen and (max-width: 700px) {
        body.clicked {
        padding-left:0px;}
    }

.spacer {
    padding-top:100px;
    background:red;
    display:block;
    position:relative;
    height:100px;
    width:100%;
    z-index:1000;
    background:#000;
    background-attachment:fixed;
    background-position:top center;
    background-size:100% auto;
    background-image:url("https://i.imgur.com/WRO4zFW.jpg");}

.contentbox {
    position:relative;
    margin:0px auto;
    background:#fff;
    z-index:0;}

/* Panel Content and Styles for Unique Panels */
.textbox {
    position:relative;
    display:block;
    z-index:0;
    font-size:1.35em;
    text-align:center;
    padding:50px 100px;
    margin:0 auto;
    line-height:175%;
    max-width:50vw;}
    @media only screen and (max-width: 1000px) {
        .textbox {
        max-width:75vw;}}
    @media only screen and (max-width: 750px) {
        .textbox {
        padding:50px 50px;}}
.textbox p {
    position:relative;
    height:auto;
    margin:10px 0px;}
    .panel p:first-child {
    margin-top:0px;}
    .panel p:last-child {
    margin-bottom:0px;}

.header {
    line-height:150%;
    position:relative;
    margin-bottom:25px;
    font-size:1.5em;
    text-align:center;
	font-style:italic;}

.person {
    position:relative;
    display:block;
    padding:30px 0px;
    min-height:126px;
    border-bottom:2px solid #ccc;}
    .person:last-of-type {
    border-bottom:none;}
    .person img {
    width:100px;
    border-radius:50%;
    border:10px solid #ccc;
    padding:3px;}
    .person.left {
    text-align:left;}
    .person.left img {
    float:left;
    margin-right:13px;}
    .person.right {
    text-align:right;}
    .person.right img {
    float:right;
    margin-left:13px;}
    .person-name {
    font-weight:bold;
    font-size:1.25em;
    margin-bottom:12px;}
    .person-role {
    display:inline-block;
    font-style:italic;}

.textbox.mission p {
    margin-bottom:40px;}
.numbered {
    text-align:left;
    font-size:1.25em;
    margin-bottom:10px;}
    .numbered b {
    font-weight:700;}
    .numbered-text {
    text-align:left;
    position:relative;
    padding-left:20px;
    border-left:2px solid #ddd;
    margin-left:20px;}
    .numbered-text:after {
    content:"";
    width:2px;
    height:0%;
    top:0px;
    left:-2px;
    position:absolute;
    background:#aaa;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;}
    .numbered-text:hover:after {
    height:100%;}

.box {
    position:relative;
    display:block;
    margin:20px auto;
    text-align:left;
    background:#ccc;
    border-radius:5px;
    overflow:hidden;}
    .box p {
    position:relative;
    height:auto;
    margin:10px 0px;}
    .box p:last-child {
    margin-bottom:0px;}
    .box p:first-child {
    margin-top:0px;}

.time-slot, .ws-label {
    position:relative;
    padding:25px;
    text-transform:uppercase;
    text-align:left;
    color:#fff;
    line-height:20px;
    font-size:1.25em;
    color:#fff;
    background:#888;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;}
    .ws-label {
    display:inline-block;
    width:30%;
    padding:20px 25px;}
    .ws.description {
    background:#ccc;
    float:right;
    width:calc(70% - 100px);
    display:inline-block;
    padding:20px 25px;}
    .time-slot {
    cursor:help;}
    .time-slot:before, .time-slot:after {
    content:"";
    position:absolute;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;}
    .time-slot:after {
    height:20px;
    width:20px;
    top:50%;
    margin-top:-10px;
    right:30px;
    z-index:1000;
    display:block;
    opacity:0;
    background:#fff;}
    .time-slot:hover:after, .time-slot.banana:after {
    opacity:1;}
    .time-slot:before {
    height:24px;
    width:24px;
    border:2px solid white;
    z-index:1001;
    top:50%;
    margin-top:-14px;
    right:26px;}
    .mini {
    font-style:italic;
    letter-spacing:.5px;
    position:relative;
    line-height:20px;
    text-transform:none;
    font-size:0.85em;}
    .ws-label .mini {
    padding-top:15px;}
    
.box-content {
    display:none;}
.details {
    overflow:hidden;}
    .fact {
    display:inline-block;
    float:left;
    margin:0px -1px 0px -1px;
    width:calc(50% - 40px);
    padding:15px 20px;
    line-height:20px;
    color:#000;
    text-align:center;
    border:1px solid #fff;
    background:#a9a9a9;}
    @media only screen and (max-width: 750px) {
        .fact {
        width:calc(100% - 40px);}
        .fact:nth-of-type(2) {
        margin:-1px -1px 0px -1px;}}
.description {
    position:relative;
    padding:25px;
    line-height:160%;}

/* Styling schedule tables (cast/crew) */
.box table {
    width:50%;
    position:relative;
    display:inline-block;}
    .box table.crew {
    float:right;}
    @media only screen and (max-width: 750px) {
        .box table {
        width:100%;}
        .box table.crew {
        margin-top:10px;
        float:none;}
        .box table tr.empty {
        display:none;}
    }
.box table td {
    position:relative;
    z-index:1;}
    .box table td:nth-of-type(1), .box table td:nth-of-type(4) {
    padding-right:5px;
    width:120px;}
.box table i {
    position:relative;
    display:inline-block;}
    .box table i:before, .box table i:after {
    content:"";
    position:absolute;
    top:50%;
    left:0px;}
    .box table i:before {
    width:120px;
    height:1px;
    background-color:#888;
    margin-top:-0.5px;
    z-index:-2;}
    .box table i:after {
    width:100%;
    padding-right:5px;
    height:20px;
    background-color:#ccc;
    display:inline-block;
    margin-top:-10px;
    z-index:-1;}

/* adding colors bc im a lazy butt */
.first {
    background-color:#808bba;}
.second, .clicky.clicked {
    background-color:#985f6f;}
.third, .clicky.clicked:hover {
    background-color:#4e4c67;}

/*
40587c + a4b1c4 — Storm
5e7c40 + b8c4a4 — Forest green
592e6d + 855a99 — Purple

*/

/* Credit Panel and End Hover Animation */
.credits {
    position:relative;
    display:block;
 	background:#000;
    padding:40px 40px;
    height:20px;
    line-height:20px;
    color:#fff;
    text-align:left;
    font-size:13px;}
    .star {
    position:absolute;
    display:block;
    color:transparent;
    top:35px;
    left:calc(50% - 15px);
    border-radius:50%;
    width:19px;
    padding-left:1px;
    height:20px;
    line-height:21px;
    text-align:center;
    box-shadow: 4px 3px 0px 0px #fff;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;}
    .credits:hover .star {
    top:40px;
    color:#fff;
    left:calc(50% - 10px);
    box-shadow: 0px 0px 0px 1px #fff;}

</style>
