<style type="text/css">

body {
    margin:0px;
    padding:0px;
    background-color:#000;
    font-size: 62.5%;
    line-height:150%;
    letter-spacing:0.2px;
    font-family:'Source Sans Pro', sans-serif;
    color:#000;
  	overflow-y: scroll;
  	overflow-x: hidden;}

a {
    color:#fff !important;
    text-decoration:none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;}
    a:hover {
    color:#555;
    cursor:help;
    text-decoration:none;}   
    b {
    font-weight:bold;}

i {
    font-style:italic;}

#s-m-t-tooltip {
    position:absolute;
    margin:15px 10px;
    padding:2px 6px;
    z-index:99999999999999;
    font-size:1.1em;
    color:#fff;
    font-family:'Source Sans Pro', sans-serif;
    background:#222;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;}


.shield {
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:9999999999999;
    color:#fff;
    font-size:1.5em;
    line-height:150%;
    text-align:center;}
    .shield.bye {
    bottom:auto;}
    .shield-panel {
    z-index:9999999999999;
    background:#000;
    height:100%;
    width:50%;
    overflow:hidden;
    position:fixed;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;}
    .shield-panel.left {
    left:0%;}
    .shield-panel.right {
    right:0%;}
    .shield-panel.left.moveleft {
    left:-50%;}
    .shield-panel.right.moveright {
    right:-50%;}
    .shield-logo {
    width:50px;
    border-radius:50%;}
    .shield-title {
    font-size:1.3em;
    padding:1.5em 0em;
    font-weight:bold;}
    .shield-content {
    position:absolute;
    width:70%;
    top:50%;
    cursor:default;
    -webkit-transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%);
    transform:translate(0%,-50%);}
    .shield-content.left {
    right:-35%;}
    .shield-content.right {
    left:-35%;}
    .closetab {
    margin-top:1.9em;
    padding:15px 20px;
    display:inline-block;
    border:3px solid #fff;
    color:#fff !important;
    font-weight:bold;
    font-size:1.1em;}


.marshmallow {
	height:560px;
    background:#efefef;
	display:block;}

.greet {
	display:block;
	position:absolute;
	margin-top:60px;
	height:500px;
	width:100%;
	z-index:1000;
	background:#222;
	background-attachment:absolute;
	background-position:center center;
    background-size:cover;
    background-image:url("/assets/images/header2.png");}

/* Floating Navigation Bar, Associated Styling, Scrolling Target Tags */
#navbar {
    display:block;
    position:fixed;
    line-height:20px;
    z-index:99999;
    padding:20px 100px;
    left:0px;
    right:0px;
    top:0px;
    text-align:center;
    background:#000;
    text-transform:uppercase;
    font-size:1.6em;}
    .no {
    position:relative;
    letter-spacing:0.5px;
    line-height:20px;
    display:inline-block;
    margin:0px 30px;
    color:#fff;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;}
    .no:hover {
    color:#fff;}
    .no:after {
    position:absolute;
    content:"";
    background:#fff;
    z-index:-1;
    top:-22px;
    height:2px;
    left:0px;
    width:100%;
    opacity:0;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;}
    .no:hover:after {
    opacity:1;
    top:-7px;}

.mini-menu {
    display:inline-block;
    line-height:20px;
    height:20px;
    padding:20px;
    margin:-20px;
    position:relative;}
    .break {
    display:block;
    margin:0 auto;
    height:1px;
    background:#000;}

.more-links {
    height:0px;
    position:absolute;
    left:50%;
    margin-left:-70px;
    width:140px;
    margin-top:20px;
    background:rgba(0,0,0,0.85);
    overflow:hidden;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;}
    .mini-menu:hover .more-links.bravo {
    height:204px;}
    .mini-menu:hover .more-links.charlie {
    height:123px;}
    .more-links a {
    color:#fff;
    cursor:help;
    display:block;
    padding:10px 0px;
    position:relative;
    font-size:0.8em;}
    .more-links a:hover {
    background:#000;}
    .how {
    cursor:default;}
    .how:hover .no:after {
    opacity:1;
    top:-12px;
    width:100%;}

.is-sticky .mini-menu .more-links {
    margin-top:20px;}
    .is-sticky .how:hover .no:after {
    top:-7px;}

    /* Making the navbar into a side panel upon resizing and yes it is as big of a disaster as this section title suggests */

.contentbox {
    font-family:'Source Sans Pro', sans-serif;
    position:relative;
    margin:0px auto;
    background:#efefef;
    z-index:0;}
    .contentbox.work-music {
    padding-top:1px;
    z-index:1;
    background:#fff;}

/* Panel Content and Styles for Unique Panels */
.panel {
    position:relative;
    display:block;
    z-index:0;
    width:auto;
    margin:0px auto 80px auto;
    font-size:1.35em;
    background:#fff;}
    .notpanel {
    z-index:2;
    width:calc(100vw - 160px);
    padding:80px 0px;
    margin:0px 80px 0px 80px;
    background:#efefef;}
.panel p {
    position:relative;
    height:auto;
    margin:10px 0px;}
    .panel p:first-child {
    margin-top:0px;}
    .panel p:last-child {
    margin-bottom:0px;}
    .panel.workshops {
    background:#fff;}
.textbox {
    position:relative;
    display:block;
    text-align:center;
    padding:100px;
    margin:0 auto;
	line-height:175%;
    max-width:50vw;}

.header {
    line-height:150%;
    position:relative;
    margin-bottom:25px;
    font-size:1.5em;
    text-align:center;
    font-family:'Source Sans Pro', sans-serif;
    font-style:italic;}

.event {
    float:left;
    margin:20px;
    overflow:hidden;
    text-align:center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;}
    .event-header {
    padding:5px 0px 30px 0px;
    width:calc(100% - 40px);
    height:auto;
    position:relative;
    overflow:hidden;
    font-size:2em;
    float:left;}
   	.event img {
    position:relative;
    display:block;
    margin:0 auto;
    opacity:0.95;
    width:100%;
    max-height:auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;}
	.charimg {
    background:#bbb;
    height:auto;
    height:calc(33.3vw - 95px);
    width:calc(33.3% - 40px);}
	.wideimg {
    height:auto;
    height:calc(33.3vw - 95px);
    width:calc(100% - 40px);}
	.doubleimg {
    height:auto;
    height:calc(33.3vw - 95px);
    width:calc(50% - 40px);}
.char {
    display:block;
    font-size:0.9em;
    position:absolute;
    bottom:0px;
    top:0px;
    left:0px;
    right:0px;
    color:#fff;
    padding:20px 20px;
    opacity:0;
    background:rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;}
    .ch-center {
    position:relative;
    font-size:1.1vw;
    top:50%;
    margin-top:-20px;
	line-height:20px;
	height:40px;}
    .ch-name {
    position:relative;
    font-size:1.4vw;
    text-transform:uppercase;
    padding-left:0px;}


/* Credit Panel and End Hover Animation */
.credits {
    position:relative;
    display:block;
    background:#000;
    padding:40px 40px;
    height:30px;
    line-height:15px;
    color:#fff;
    text-align:left;
    font-size:13px;}
    .star {
    position:absolute;
    display:block;
    color:transparent;
    top:40px;
    left:calc(50% - 15px);
    border-radius:50%;
    width:19px;
    padding-left:1px;
    height:20px;
    line-height:21px;
    text-align:center;
    box-shadow: 4px 3px 0px 0px #fff;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;}
    .credits:hover .star {
    top:45px;
    color:#fff;
    left:calc(50% - 10px);
    box-shadow: 0px 0px 0px 1px #fff;}
    
.credits img {
    display:inline-block; 
    width:30px;
    height:30px;
    margin-right:5px;}

/* adding colors bc im a lazy butt */
.first {
    background-color:#808bba;}
.second, .clicky.clicked {
    background-color:#985f6f;}
.third, .clicky.clicked:hover {
    background-color:#4e4c67;}

 @media only screen and (max-width: 900px) {
        #navbar {
        padding:80px 30px 30px 30px;
        width:200px;
        right:auto;
        left:-260px;
        height:100%;
        bottom:0px;
        overflow:hidden;
        text-align:left;
        -webkit-transition: all 0.4s linear;
        -moz-transition: all 0.4s linear;
        -o-transition: all 0.4s linear;
        transition: all 0.4s linear;}
        #navbar.clicked {
        left:0px;}
        body.clicked {
        margin-right:-260px;
        margin-left:260px;}
        .no, .mini-menu {
        padding:0px 0px 0px 0px;
        width:200px;
        margin:0px;
        display:block;
        height:auto;}
        .no {
        padding:20px 0px 0px 0px;}
        .no:after {
        display:none;}
        .no:hover {
        color:#aaa;}
        .no.how:hover {
        color:#fff;}
        .more-links {
        margin:0px;
        left:0%;
        width:auto;
        position:relative;}
        .more-links a {
        font-size:0.8em;
        text-transform:lowercase;
        display:inline-block;
        padding:0px 10px 0px 0px;}
        .more-links a:hover {
        color:#aaa;}
        .break, .yeet {
        display:none;}

        .more-links.alpha, .more-links.bravo, .more-links.charlie {
        height:auto !important;}

        .clickmenu {
            z-index:10000000000000001;
            position:fixed;
            top:25px;
            left:30px;
            width:35px;
            cursor:help;
            height:25px;
            display:inline-block;}
            .clickmenu.clicked {
            background:transparent;}
            .clickmenu.clicked .line {
            background:#fff;}
            .clickmenu.clicked .orange {
            background:black;
            opacity:0;}
            .line {
            display:block;
            position:absolute;
            background:#fff;
            height:6px;
            width:45px;
            border:2px solid #000;
            cursor:help;
            -webkit-border-radius:4px;
            -moz-border-radius:4px;
            -ms-border-radius:4px;
            -o-border-radius:4px;
            border-radius:4px;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;}
            .orange {
            margin-top:12px;}
            .yellow {
            margin-top:24px;}
            .red.spin {
            margin-top:14px;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);}
            .orange.spin {
            margin-top:5px;
            opacity:0;}
            .yellow.spin {
            margin-top:14px;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);}}

@media only screen and (max-width: 900px) {
    #navbar {
    padding-top:50px;
    font-size:2.3em;
    left:-410px;}
    body.clicked {
    margin-right:-410px;
    margin-left:410px;}
    .credits {
    font-size:1.4em;}
    .credits .star {
    display:none;}
    #navbar, .no, .mini-menu {
    width:350px;
    line-height:150%;}
    .notpanel {
    width:calc(100vw - 100px);
    padding-bottom:50px;
    margin:50px 50px 0px 50px;}

    .event {
    margin:0px;}
    .charimg {
    height:auto;
    height:calc(100vw / 3 - 100px / 3);
    width:calc(100% / 3);}
    .wideimg {
    width:100%;}
    .doubleimg {
    width:50%;}
    .ch-center {
    font-size:1.6vw;}
    .ch-name {
    font-size:2vw;} 

    .textbox {
    max-width:none;
    padding:50px;
    font-size:1.6em;}
    .box {
    font-size:0.8em;}}

</style>