<style type="text/css">

body {
    margin:0px;
    padding:0px;
    background-color:#000;
    font-size: 62.5%;
    line-height:150%;
    letter-spacing:0.2px;
    font-family:'Source Sans Pro', sans-serif;
    color:#000;
  	overflow-y: scroll;
  	overflow-x: hidden;}

a {
    color:#6CDBE7;
    text-decoration:none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;}
    a:hover {
    color:#555;
    cursor:help;
    text-decoration:none;}    

#s-m-t-tooltip {
    position:absolute;
    margin:15px 10px;
    padding:2px 6px;
    z-index:99999999999999;
    font-size:1.1em;
    color:#fff;
    font-family:'Source Sans Pro', sans-serif;
    background:#222;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;}


.marshmallow {
	height:500px;
	display:block;}

.greet {
	display:block;
	position:absolute;
	top:0px;
	height:500px;
	width:100%;
	z-index:1000;
	background:#000;
	background-attachment:absolute;
	background-position:center center;
    background-size:cover;
    background-image:url("http://25.media.tumblr.com/d6b339e77f2766ee2ad0a2adc51dbc0b/tumblr_mxnyu0Tcho1r16dnho3_1280.jpg");}
    /*
    http://25.media.tumblr.com/d6b339e77f2766ee2ad0a2adc51dbc0b/tumblr_mxnyu0Tcho1r16dnho3_1280.jpg — abandoned greenhouse
    https://assets.atlasobscura.com/article_images/lg/45518/image.jpg  actual greenhouse*/
    /*.greet:after {
    bottom:0px;
    position:absolute;
    content:"";
    width:100%;
    height:100px;
    background-image: linear-gradient(transparent, rgba(0,0,0,0.8));
    }*/

#headerbar {
    display:block;
    z-index:99999;
    position:absolute;
    padding:30px 0px;
    height:120px;
    line-height:40px;
    width:310px;
    top:50%;
    margin-top:-90px;
    left:50%;
    margin-left:-155px;
    text-align:center;}
    .username {
	cursor:default;
    text-transform:uppercase;
    color:#fff;
    font-size:5em;
    font-weight:bold;}

/* Floating Navigation Bar, Associated Styling, Scrolling Target Tags */
#navbar {
    display:block;
    position:relative;
    line-height:20px;
    z-index:99999;
    padding:40px 100px;
    margin:0px -100px;
    top:0px;
    font-family:'Source Sans Pro', sans-serif;
    text-align:center;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
    text-transform:uppercase;
    font-size:1.6em;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;}
   	.is-sticky #navbar {
    background:rgba(0, 0, 0, 0.85);
   	padding:20px 100px;
   	color:#fff;}
    .no {
    position:relative;
    letter-spacing:0.5px;
    line-height:20px;
    display:inline-block;
    margin:0px 30px;
    color:#fff;}
    .no:hover {
    color:#fff;}
    .no:after {
    position:absolute;
    content:"";
    background:#fff;
    z-index:-1;
    top:-22px;
    height:2px;
    left:0px;
    width:100%;
    opacity:0;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;}
    .is-sticky .no:after {
    background:#fff;}
    .no:hover:after {
    opacity:1;
    top:-12px;
    width:100%;}
    .is-sticky .no:hover:after {
    top:-7px;}
    #about.tag {
    position:absolute;
    margin-top:-160px;}
    #playlist.tag {
    position:absolute;
    margin-top:-140px;}

.mini-menu {
    font-family:'Source Sans Pro', sans-serif;
    display:inline-block;
    line-height:20px;
    height:20px;
    padding:20px;
    margin:-20px;
    position:relative;}
	.break {
	display:block;
	margin:0 auto;
	height:1px;
	background:#000;}

.more-links {
	height:0px;
	position:absolute;
	left:50%;
	margin-left:-70px;
	width:140px;
	margin-top:10px;
	background:rgba(0,0,0,0.7);
	overflow:hidden;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;}
	.mini-menu:hover .more-links.alpha {
	height:185px;}
	.mini-menu:hover .more-links.bravo {
	height:183px;}
	.is-sticky .mini-menu .more-links {
	margin-top:20px;}
	.more-links a {
    color:#fff;
	display:block;
	padding:10px 0px;
	position:relative;
	font-size:0.8em;}
	.more-links a:hover {
	background:#000;}
	.how {
	cursor:default;}
	.how:hover .no:after {
    opacity:1;
    top:-12px;
    width:100%;}
	.is-sticky .how:hover .no:after {
    top:-7px;}

.contentbox {
    font-family:'Source Sans Pro', sans-serif;
    position:relative;
    margin:0px auto;
    background:#fff;
    z-index:0;}

/* Panel Content and Styles for Unique Panels */
.panel {
    position:relative;
    display:block;
    z-index:0;
    width:auto;
    margin:0px auto 80px auto;
    font-size:1.35em;
    background:#ddd;}
    .notpanel {
    z-index:2;
    width:calc(100vw - 160px);
    padding-bottom:80px;
    margin:80px 80px 0px 80px;
    background:#fff;}
    @media only screen and (max-width: 800px) {
	    .notpanel {
	    width:calc(100vw - 200px);
	    padding-bottom:100px;
	    margin:100px 100px 0px 100px;}}
    .notpanel:after {
  	content:"";
  	display:block;
  	clear:both;}
.panel p {
    position:relative;
    height:auto;
    margin:10px 0px;}
    .panel p:first-child {
    margin-top:0px;}
    .panel p:last-child {
    margin-bottom:0px;}
.textbox {
    position:relative;
    display:block;
    text-align:center;
    padding:100px;
    margin:0 auto;
	line-height:175%;
    max-width:50vw;}

.header {
    line-height:150%;
    position:relative;
    margin-bottom:79px;
    font-size:1.5em;
    text-align:center;
    font-family:'Source Sans Pro', sans-serif;
	font-style:italic;}
    .header:after {
    content:"";
    position:absolute;
    display:block;
    bottom:-37px;
    left:calc(50% - 35px);
    width:70px;
    height:2px;
    background:#000;}

.event {
    float:left;
    margin:20px;
    overflow:hidden;
    text-align:center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;}
   	.event img {
    position:relative;
    display:block;
    margin:0 auto;
    opacity:0.95;
    width:100%;
    max-height:auto;}
	.charimg {
    width:calc(33.3% - 40px);}
	.wideimg {
    width:calc(100% - 40px);}
	.doubleimg {
    width:calc(50% - 40px);}
    @media only screen and (max-width: 800px) {
    	.event {
    	margin:0px;}
		.charimg {
	    width:calc(100% / 3);}
		.wideimg {
	    width:100%;}
		.doubleimg {
	    width:50%;}}
.char {
    display:block;
    font-size:0.9em;
    position:absolute;
    bottom:0px;
    top:0px;
    left:0px;
    right:0px;
    color:#fff;
    padding:20px 20px;
    opacity:0;
    background:rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;}
    .event:hover .char {
    opacity:1;}
    .ch-center {
    position:relative;
    font-size:1.1vw;
    top:50%;
    margin-top:-20px;
	line-height:20px;
	height:40px;}
    .ch-name {
    position:relative;
    font-size:1.4vw;
    text-transform:uppercase;
    padding-left:0px;}
    @media only screen and (max-width: 800px) {
	    .ch-center {
	    font-size:1.6vw;}
	    .ch-name {
	    font-size:2vw;} }
    /**@media only screen and (min-width: 450px) {
        .charimg {
        width:50%;} }
    @media only screen and (min-width: 1010px) {
        .charimg {
    	width:33.3%;} }
    @media only screen and (min-width: 1380px) {
        .box.yikes {
    	max-width:75vw;}})**/


/* Credit Panel and End Hover Animation */
.credits {
    position:relative;
    display:block;
 	background:#111;
    padding:40px 40px;
    height:20px;
    line-height:20px;
    color:#fff;
    text-align:left;
    font-size:13px;}
    .star {
    position:absolute;
    display:block;
    color:transparent;
    top:35px;
    left:calc(50% - 15px);
    border-radius:50%;
    width:19px;
    padding-left:1px;
    height:20px;
    line-height:21px;
    text-align:center;
    box-shadow: 4px 3px 0px 0px #fff;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;}
    .credits:hover .star {
    top:40px;
    color:#fff;
    left:calc(50% - 10px);
    box-shadow: 0px 0px 0px 1px #fff;}

</style>
